name: GitHub Actions Snake Game

on:
  schedule:
    - cron: '0 0 * * *'  # Run every day at midnight

jobs:
  generate:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create output directory
        run: mkdir -p ./output

      - name: Generate Snake
        uses: Platane/snk@v0.7.0
        with:
          github_user_name: bastideveloper1
          svg_out_path: ./output/github-contribution-grid-snake.svg

      - name: Deploy to Output Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          publish_branch: output
          force_orphan: true
          keep_files: true
